form {
    background-color: rgba(255, 255, 255, 0.261);
    width: 210px;
    min-height: 360px;
    padding-inline: 20px ;
    position: relative;
    left: 50%;
    border-radius: 8px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form__buttons {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}